#myHeader {
 background-color: teal;
 background-image: linear-gradient(#136a8a, #43cea2);
}

#myTitle{
  text-shadow: 1.5px 1px orange;
  font-style: oblique;
  font-size: 1.5em;
}
#cartCard{
  text-align: center;
  width: 60%;
}
#itemImages{
  height: 125px;
}
#cardContent{
  text-align: center;
}

.outterCard:hover{
  transform: scale(1.04);
}
#cartInput{
  font-size: 1.3em;
}
.mainPageDiv{
  text-align: center;
  margin:auto;
}
#RevealContents{
  text-align: center;
  display: inline-block;
}
.iconImage{
  cursor: pointer;
}
#iconImage:hover{
  opacity: 0.7;
}
#myBody{
    background-color: #3d72b4;
    background-image: linear-gradient(#274046, #e6dada);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
#cart_list{
  max-width: 150px;
  text-align: center;
}
@media screen and (max-width:1000px) {
  .outterCard:hover{
    transform: none;
  }
}

.form_order{
  text-shadow: 2px 2px 3px seashell;
}
.item_card {
  max-height: 230px;
}
#cart_img{
  max-height: 50px;
}
#CartRemoveButton{
  text-align: center;
  display: inline-block;
  font-size: 10px;
}
#menuIcon{
  float:left;
  z-index: 10;
  position: fixed;
}
#dropdown_background{
  background-color: Gainsboro ;
}
#cartDiv{
  text-align: center;
}
*{
  touch-action: manipulation;
}
